---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        AL FARIZI DWI PRASETYO
      </span>
    </h1>
    <p class="text-2xl pb-4">Student & Web Developer</p>
  </div>
  <div>
    <p class="mb-5">
      Hallo selamat datang di web blog pribadi saya, Saya dengan senang hati mempersembahkan blog pribadi ini sebagai tempat untuk berbagi pandangan, pemikiran, dan pengalaman saya. Di sini, Anda akan menemukan berbagai tulisan pribadi, termasuk refleksi tentang programming, catatan seputar tugas, dan kadang-kadang, cerita-cerita acak yang mungkin agak <em>random</em> .
    </p>
  </div>
</section>
